* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #b3d4fc;
  font-family: 'Lilita One';
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 4.5vw;
  text-align: center;
  letter-spacing: 0.4vw;
}

.gameboard, .result {
  width: 70vw;
  margin: auto;
  display: flex;
}

.result {
  height: 3vw;
}

.stone, .paper, .scissors {
  width: 33%;
  height: 0;
  padding-bottom: 33%;
}

.stone {
  background: url("../img/stone.png") no-repeat;
  background-size: cover;
}
.stone:hover {
  background: url("../img/stoneonhover.png") no-repeat;
  background-size: cover;
}
.stonewin, .stonewin:hover {
  background: url("../img/stonewin.png") no-repeat;
  background-size: cover;
}
.stonelose, .stonelose:hover {
  background: url("../img/stonelose.png") no-repeat;
  background-size: cover;
}
.stonetie, .stonetie:hover {
  background: url("../img/stonetie.png") no-repeat;
  background-size: cover;
}

.paper {
  background: url("../img/paper.png") no-repeat;
  background-size: cover;
}
.paper:hover {
  background: url("../img/paperonhover.png") no-repeat;
  background-size: cover;
}
.paperwin, .paperwin:hover {
  background: url("../img/paperwin.png") no-repeat;
  background-size: cover;
}
.paperlose, .paperlose:hover {
  background: url("../img/paperlose.png") no-repeat;
  background-size: cover;
}
.papertie, .papertie:hover {
  background: url("../img/papertie.png") no-repeat;
  background-size: cover;
}

.scissors {
  background: url("../img/scissors.png") no-repeat;
  background-size: cover;
}
.scissors:hover {
  background: url("../img/scissorsonhover.png") no-repeat;
  background-size: cover;
}
.scissorswin, .scissorswin:hover {
  background: url("../img/scissorswin.png") no-repeat;
  background-size: cover;
}
.scissorslose, .scissorslose:hover {
  background: url("../img/scissorslose.png") no-repeat;
  background-size: cover;
}
.scissorstie, .scissorstie:hover {
  background: url("../img/scissorstie.png") no-repeat;
  background-size: cover;
}

#chosestone, #chosepaper, #chosescissors {
  width: 33%;
  text-align: center;
  font-size: 3vw;
}

@media screen and (min-width: 300px) and (max-width: 767px) and (orientation: portrait) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }

  body {
    height: 100vw;
  }

  h1 {
    font-size: 4.5vh;
    text-align: center;
    letter-spacing: 0.4vh;
  }
  
  .gameboard, .result {
    width: 70vh;
  }
  
  .result {
    height: 3vh;
  }

  #chosestone, #chosepaper, #chosescissors {
    font-size: 3vh;
  }
}